
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample App</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% load static %}
    <script src="{% static 'scripts/index.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dynamic_model">Dynamic Model</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addcontact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/order-details">order-details</a>
        </li>
      </ul>
    </div>

  </nav>
        <div class="container-fluid">

          <h3>{{object}}</h3>
          <button id="myButton" class="button">Sample btn</button>
          {% block content %}

          {% endblock %}

        </div>


</body>

</html>