<!-- 
{% for order_detail in order_details %}
<tr data-row-id="{{ order_detail.pk }}">
    <td>{{ forloop.counter }}</td>
    <td>{{ order_detail.item_name }}</td>
    <td><input class="form-control form-control-sm" type="number" name="quantity" value="{{ order_detail.quantity }}"></td>
    <td><input class="form-control form-control-sm" type="number" name="price" value="{{ order_detail.price }}"></td>
    <td><input class="form-control form-control-sm" type="number" name="ext_price" value="{{ order_detail.ext_price }}"></td>
    <td><button class="btn btn-danger btn-sm" type="button" hx-boost="1" onclick="removeRow(this)">Remove</button></td>
</tr>
{% endfor %} -->
{% for counter in counters %}
      
    <tr data-row-id="{{counter}}">
        <td>
            <select class="autocomplete" name="item_name" value="{{ form.initial.item_name }}" onchange="gettingprices(this)" style="width: 100%;"></select>
        </td>
        <td><input class="form-control form-control-sm" type="number" name="quantity" value="{{ form.initial.quantity }}" onchange="updateExtPrices(this)"></td>
        <td><input class="form-control form-control-sm" type="number" name="price" value="{{ form.initial.price }}"></td>
        <td><input class="form-control form-control-sm" type="number" name="ext_price" value="{{ form.initial.ext_price }}"></td>
        <td><button class="btn btn-danger btn-sm" type="button" hx-boost="1" onclick="removeRow(this)">Remove</button></td>
    </tr>
{% endfor %}
<!-- {% for c in counters %}
<tr data-row-id="">
    <td>
        <select class="autocomplete" name="item_name" style="width: 100%;"></select>
    </td>
    <td><input class="form-control form-control-sm" type="number" name="quantity" value="{{ form.initial.quantity }}"></td>
    <td><input class="form-control form-control-sm" type="number" name="price" value="{{ form.initial.quantity }}"></td>
    <td><input class="form-control form-control-sm" type="number" name="ext_price" value="{{ form.initial.ext_price }}"></td>
    <td><button class="btn btn-danger btn-sm" type="button" hx-boost="1" onclick="removeRow(this)">Remove</button></td>
</tr>
{% endfor %} -->

<script>

 
    function removeRow(button) {
        var td = button.parentNode;
        var tr = td.parentNode;
        tr.remove();
    }
    $(document).ready(function() {
        $('.autocomplete').select2({
            placeholder: 'Select an Product',
            allowClear: true,
            minimumInputLength: 2,
            ajax: {
                url: '/search/results/',
                dataType: 'json',
                delay: 100,
                data: function (params) {
                console.log(params)
                var queryParameters = {
                    item_name: params.term
                }
                    return queryParameters; 
                },
                processResults: function(data) {
                    console.log(data)
                    return {
                        results: $.map(data, function(data) {
                            return {
                                id: data.id,
                                text: data.item_name
                            };
                        })
                    };
                    
                },
                cache: true
            }
        });
        // $('.autocomplete').on('select2:select', function (e) {
        //     var data = e.params.data;
        //     console.log(data);
        //     console.log(this)
        // });
    });

    function gettingprices(input){                
                var item_id = input.value
                console.log(item_id)
                $.ajax({
                    url:'/getprice/'+item_id,
                    dataType:'json',                    
                    success: function(response){                       
                        var  price = response.price                       
                        var row = $(input).closest('tr')                         
                        row.find('input[name="price"]').val(price);
                        row.find('input[name="quantity"]').val(1)
                        total_default_price = price * 1
                        row.find('input[name="ext_price"]').val(total_default_price.toFixed(2))
                      
                        
                    }
                })
    }    

    function updateExtPrices(input) {
        console.log(input.value);
        var quantity = input.value               
        var row = $(input).closest('tr')
        var price = row.find('input[name="price"]').val()
        console.log("order_row",price)
        var total_price = price * quantity
        row.find('input[name="ext_price"]').val(total_price.toFixed(2))
    }


</script>
