{% extends 'index.html' %}

{% block content %}
    <h3>Create Order</h3>

    <h3>
        <span class="htmx-indicator">
          ...
       </span>
    </h3>
    <form id="order-form" method="post" hx-post="{% url 'save_orders' %}" hx-target="#result-message" hx-swap="innerHTML">
        {% csrf_token %}


        <table id="order-table" class="table table-bordered" style="width: 75%;">
            <thead class="thead-dark">
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-container">

                    <td>
                        <select  id="item_name_{{row_count}}" name="item_name" class="autocomplete form-control form-control-sm" style="width: 100%;" ></select>
                    
                   
                    <!-- <input name="q"
                        placeholder="Search for a title"
                        hx-get="https://jsonplaceholder.typicode.com/users"
                        hx-target="#result-message"
                        hx-trigger="input delay:0.2s"> -->
                    <!-- <input class="form-control" type="search"
                        name="item_name"
                        id="item_name_{{row_count}}"
                        placeholder="Begin Typing To Search Users..."
                        hx-get="/search/results/"
                        hx-trigger="keyup changed, search, input delay:0.2s"
                        hx-target="#search-results"
                        hx-indicator=".htmx-indicator"
                        hx-swap="innerHTML"
                        value="{{initial_order.item_name}}"
                        id="autoseachwithhtmx"/> -->
                        <!-- <<input type="text" name="item_name" value="{{ initial_order.item_name }}"> -->
                    </td>
                
                    <td>
                        <input class="form-control form-control-sm" type="number" id="quantity_{{row_count}}"  name="quantity" onchange="updateExtPrice(this)" value="{{ form.initial.quantity }}">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" type="number" id="price_{{row_count}}" name="price" onchange="updateExtPrice(this)" value="{{ form.initial.price }}">
                    </td>
                    <td>
                        <input class="form-control form-control-sm" type="number" id="ext_price_{{row_count}}" name="ext_price" value="{{ form.initial.ext_price }}">
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm" type="button" id="add_order_row_{{row_count}}" hx-post="{% url 'add_order_row' %}" hx-target="#order-table tbody tr" hx-swap="afterend">Add</button></td>
                </tr>
            </tbody>

        </table>

        <button class="btn btn-success btn-sm" type="submit" id="save-button" hx-trigger="submit">Save Orders</button>
    </form>
    <!-- <div id="search-results">
        {% include "../orders/search_results.html" %}
    </div> -->
    
    <div id="result-message"></div>
  
    {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the following errors:
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<script>
        $(document).ready(function() {
            $('.autocomplete').select2({
                placeholder: 'Select an Product',
                allowClear: true,
                minimumInputLength: 1,
                ajax: {
                    url: '/search/results/',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                    console.log(params)
                    var queryParameters = {
                        item_name: params.term
                    }
                        return queryParameters; 
                    },
                    processResults: function(data) {
                        console.log(data)
                        return {
                            results: $.map(data, function(data) {
                                return {
                                    id: data.id,
                                    text: data.item_name
                                };
                            })
                        };
                        
                    },
                    cache: true
                }
            });
            // $('.autocomplete').on('select2:select', function (e) {
            //     var data = e.params.data;
            //     console.log(data);
            //     console.log(this)
            // });
        });
    //     function updateExtPrice(rowCount) {
    //         var quantity = parseFloat($('#quantity_' + rowCount).val()) || 0;
    //         var price = parseFloat($('#price_' + rowCount).val()) || 0;
    //         var extPrice = quantity * price;
    //         $('#ext_price_' + rowCount).val(extPrice.toFixed(2));
    // }
    function updateExtPrice(input) {
        console.log(input.value);
    }
</script>
<style>
    #container {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .htmx-indicator {
        display: inline-block;
        margin-left: 10px;
    }
    #search-results {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .highlight {  
        background-color: #46ffb3;  
    }
</style>
{% endblock %}
